.article-head {
  align-items: center;
  display: flex;
  max-width: 670px;
  margin: 0 auto 19px;

  &__category {
    background: #FFBE00;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
    padding: 6px;
    position: relative;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    &::after {
      @include abs-pos(0,0);
      box-shadow: 0 2px 8px 0 #000;
      content: '';
      opacity: 0;
      height: 100%;
      width: 100%;
      transition: all .3s ease;
    }

    &:hover {
      text-decoration: none;

      &::after {
        opacity: .1;
      }
    }
  }

  &__date {
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.05em;
    margin-right: 10px;
    opacity: .3;
    text-transform: uppercase;
  }

  &--news {
    .article-head__category {
      background: transparent;
      border: 1px solid #0091e3;
      color: #0091e3;
      padding: 0 6px;
    }
  }
}
