.articles-item {
  border: 4px solid #FFBE00;
  margin: 0 10px 20px;
  position: relative;
  width: calc(100% - 20px);

  &--as-container {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 117%;
  }

  img,
  &__inner {
    @include abs-pos(0, 0);
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
  }

  &__inner {
    align-items: flex-start;
    background: linear-gradient(12.43deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    justify-content: flex-start;
  }

  &__link {
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
  }

  &__category {
    background: #FFBE00;
    color: #000;
    font-size: 10px;
    line-height: 1.3;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
    padding: 6px 6px;
    position: relative;
    text-transform: uppercase;
    transition: all .2s ease;

    &:hover {
      background: #ffe699;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
    max-height: 80px;
    max-width: 380px;
    overflow: hidden;
    padding-right: 15px;
    position: relative;

    &::before {
      background: #FFBE00;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 1005px;
      width: 5px;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: transform .15s;
    }

    span {
      display: block;
      transition: transform .3s;
    }

    &:hover {
      span {
        transform: translateX(10px);
      }

      &::before {
        transform: scaleX(1);
        transition: transform .15s .1s;
      }
    }
  }

  &:hover .articles-item__title {
    span {
      transform: translateX(10px);
    }

    &::before {
      transform: scaleX(1);
      transition: transform .15s .1s;
    }
  }

  &__text {
    display: none;
  }

  &--other {
    &::after {
      padding-bottom: 75%;
    }
  }

  @media (max-width: 599px) {
    &::after {
      padding-bottom: 75%;
    }
  }

  @media (min-width: 600px) {
    width: calc(50% - 20px);
  }

  @media (min-width: $min-tablet-width) {
    border-width: 8px;
    width: calc(33.3% - 20px);

    &__inner {
      padding: 22px 24px;
    }

    &__link {
      top: -8px;
      left: -8px;
      right: -8px;
      bottom: -8px;
    }

    &--wide {
      width: calc(100% - 20px);

      .articles-item__inner {
        padding: 30px 26px;
      }

      &::after {
        padding-bottom: 40%;
      }

      .articles-item__title {
        margin-bottom: 10px;
      }

      .articles-item__text {
        display: block;
        font-size: 18px;
        line-height: 1.16;
      }
    }

    &--half {
      width: calc(50% - 20px);

      &::after {
        padding-bottom: 54%;
      }
    }

    &--other {
      &::after {
        padding-bottom: 58%;
      }
    }
  }
}
