.badge {
  color: #000000;
  border: 1px solid #000000;
  display: inline-block;
  font-size: 10px;
  line-height: 1.3;
  opacity: .3;
  letter-spacing: 0.05em;
  padding: 2px 4px;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(-2px);
}