.button {
  border: 4px solid #FFBE00;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 16px 30px;
  position: relative;
  text-transform: uppercase;

  &::before {
    @include abs-pos(0, 0, 0, 0);
    background: #FFBE00;
    content: '';
    opacity: 0;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: all .2s ease-out;
  }

  &::after {
    @include abs-pos(0, 0, 0, 0);
    box-shadow: 0 6px 26px -2px #000;
    content: '';
    opacity: 0;
    transition: all .2s ease-out;
    z-index: -1;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    &::before {
      transform: scale(1);
      opacity: .08;
    }

    &::after {
      opacity: .2;
    }
  }

  &:focus {
    outline: none;
  }

  &--blue {
    border-color: #0091E3;
    color: #0091E3;

    &::before {
      background: #0091E3;
    }
  }

  &--solid {
    background: #FFBE00;

    &::before {
      background: #fff;
    }

    &:hover,
    &:focus {
      &:before {
        opacity: 0.2;
      }
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  @media (min-width: 375px) {
    padding: 16px 40px;
  }

  @media (min-width: $min-tablet-width) {
    min-width: 325px;
  }
}
