.category-head {
  text-align: center;

  &__icon {
    border: 8px solid #FFBE00;
    border-radius: 50%;
    width: 186px;
    max-width: 100%;
    margin: 0 auto 15px;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  &__img {
    background: no-repeat 50% 50% / contain;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -55px 0 0 -60px;
    width: 120px;
    height: 120px;
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.32;
  }
}
