.image {
  background: #e0e0e0;
  display: block;
  position: relative;
  flex-grow: 1;

  &::after {
    content: '';
    display: block;
    padding-bottom: 62.5%;
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &--slide {
    &::after {
      padding-bottom: 60%;
    }
  }

  &--landscape {
    max-width: 900px;

    &::after {
      padding-bottom: 56%;
    }
  }

  @media (min-width: $min-tablet-width) {
    &--slide {
      &::after {
        padding-bottom: 37%;
      }
    }
  }
}
