.input {
  &__label {
    display: inline-block;
    opacity: .5;
    margin-bottom: 6px;
  }

  &__field {
    border: 0;
    background: transparent;
    display: block;
    margin-bottom: 30px;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
}

input.input__field {
  border-bottom: 2px solid rgba(0, 0, 0, .2);
  font-size: 22px;
  line-height: 1;
  padding: 6px 0;

  @media (min-width: $min-tablet-width) {
    padding: 10px 0 14px;
  }

  &:focus {
    outline: none;
    border-bottom-color: rgba(0, 0, 0, .6);
  }
}

textarea.input__field {
  background: #fff;
  border: 2px solid transparent;
  padding: 18px;

  &:focus {
    outline: none;
    border-color: rgba(0, 0, 0, .6);
  }
}
