.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}

.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-bg.mfp-removing {
  opacity: 0;
}


.mfp-wrap .mfp-content {
  opacity: 0;
  transform: scale(0);
  transition: all .2s ease;
}

.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1);
}

.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  transform: scale(0);
}
