.content-popup {
  .mfp-container {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .mfp-content {
    background: #F0F0F0;
    border-radius: 10px;
    max-width: 790px;
    margin: 10px 0;
    padding: 20px;

    @media (min-width: $min-tablet-width) {
      padding: 30px;
    }
  }
}
