.pagination {
  border-top: 2px solid #FFBE00;
  padding: 20px 0 16px;

  &__desktop,
  &__mobile {
    display: flex;
    justify-content: space-between;
  }

  &__pages {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  a,
  span {
    border: 2px solid transparent;
    border-radius: 16px;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 16px;
    height: 32px;
    opacity: .5;
    padding: 6px 6px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease;
    min-width: 32px;
  }

  a {
    &:hover {
      text-decoration: none;
      border-color: #ffbe00;
    }
  }

  .slash {
    font-size: 1.2em;
    width: auto;
    margin: 0 5px;
  }


  .arrow {
    border: none;
    opacity: .3;
    position: relative;
    transition: all .2s ease;

    &::before,
    &::after {
      @include abs-pos(0);
      content: '';
      height: 32px;
      width: 36px;
    }

    &::before {
      background: #000;
      height: 2px;
      top: calc(50% - 1px);
      width: 100%;
    }

    &::after {
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      height: 12px;
      width: 12px;
      top: calc(50% - 6px);
      transform: rotate(45deg);
      transform-origin: 50% 50%;
    }

    &:hover {
      opacity: .5;
    }

    &--next {
      transform: rotate(180deg);
    }
  }

  .active {
    border-color: #FFBE00;
    color: #FFBE00;
    opacity: 1;
  }

  @media (max-width: $max-mobile-width) {
    &__desktop {
      display: none;
    }

    a:nth-child(n+5):not(:last-child) {
      display: none;
    }
  }

  @media (min-width: $min-tablet-width) {
    &__mobile {
      display: none;
    }
  }

  &--blue {
     border-top-color: #0091e3;

     .active {
       border-color: #0091e3;
       color: #0091e3;
     }

     a:hover {
       border-color: #0091e3;
     }
   }

  &--narrow {

    @media (min-width: $min-tablet-width) {
      margin: 0 20px 0 115px;
    }

    @media (min-width: $min-desktop-width) {
      margin: 0 95px 0 115px;
    }
  }
}
