.search {
  border: 1px solid #C4C4C4;
  border-radius: 18px;
  display: flex;
  height: 36px;
  overflow: hidden;
  max-width: 210px;
  position: relative;

  &__button {
    @include abs-pos(null, 3px, 3px);
    background: #ffbe00;
    border: 1px solid #ffbe00;
    border-radius: 14px;
    box-shadow: none;
    color: #fff;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.05em;
    min-width: 74px;
    padding: 6px 10px 5px;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }

    &:hover {
      background: transparent;
      color: #000;
    }
  }

  &__icon {
    @include abs-pos(10px, calc(50% - 10px));
    background: url('../svg/icon-search.svg') no-repeat 50% 50% / contain;
    content: '';
    height: 20px;
    opacity: .5;
    width: 20px;
    transition: opacity .2s;
    z-index: -1;

    &.hidden {
      opacity: 0;
    }
  }

  input {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: 400;
    padding: 0 85px 0 14px;
    line-height: 34px;
    position: relative;
    transition: all .3s ease;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
      background: #f4f4f4;
    }
  }
}
