.title {
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.01em;

  @media (min-width: 425px) {
    font-size: 24px;
  }


  @media (min-width: $min-tablet-width) {
    font-size: 32px;
  }

  &--bold {
    font-weight: 700
  }
}