<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
  <title>{% if pageTitle %}{{ pageTitle }}{% else %}Title{% endif %}</title>
  <link href="css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900" rel="stylesheet">
</head>

<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

<input type="checkbox" class="menu-toggler" id="menu-toggler">
<div class="wrapper">
  {% include "partials/header.njk" %}

  <div class="main center">
    <div class="main-content">
      {% block content %}{% endblock %}
    </div>

    {% include "partials/sidebar.njk" %}
  </div>

  {% include "partials/footer.njk" %}

</div>


<div id="contact-form" class="contact-form mfp-hide">
  <div class="contact-form__title">
    Свяжитесь с нами
  </div>
  <div class="contact-form__columns">
    <div>
      <div class="input">
        <label class="input__label">Имя*</label>
        <input class="input__field" type="text" />
      </div>
      <div class="input">
        <label class="input__label">E-mail*</label>
        <input class="input__field" type="text" />
      </div>
      <div class="input">
        <label class="input__label">Телефон</label>
        <input class="input__field" type="text" />
      </div>
    </div>
    <div>
      <div class="input">
        <label class="input__label">Ваше сообщение*</label>
        <textarea class="input__field"></textarea>
      </div>
    </div>
  </div>
  <div class="contact-form__columns">
    <div>
      <div class="contact-form__require-note">* поля, обязательные для заполнения</div>
      <div class="contact-form__notice">Нажимая на кнопку вы даете согласие на <a href="#">обработку своих персональных данных</a></div>
    </div>
    <div>
      <button class="button button--block button--solid">все новости</button>
    </div>
  </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
