<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
  <title>{% if pageTitle %}{{ pageTitle }}{% else %}Title{% endif %}</title>
  <link href="css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900" rel="stylesheet">
</head>

<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>

<input type="checkbox" class="menu-toggler" id="menu-toggler">
<div class="wrapper">

  <div class="main center">
    <div class="main-content">
      {% block content %}{% endblock %}
    </div>
  </div>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
