.advertisment-block {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  .item {
    background: #c4c4c4;
    margin: 0 10px 20px;
    position: relative;
    width: calc(50% - 20px);

    &::after {
      content: '';
      display: block;
      padding-bottom: 83%;
    }

    &__content {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  &--news {
    .item::after {
      padding-bottom: 78%
    }
  }

  @media (min-width: $min-tablet-width) {
    .item {
      width: calc(25% - 20px)
    }

    &--news {
      margin: 0 20px 0 105px;

      .item {
        width: calc(50% - 20px);
      }
    }
  }

  @media (min-width: $min-desktop-width) {
    &--news {
      margin: 0 105px;
      padding-top: 16px;
    }
  }
}