.article-image {
  border: 8px solid #FFBE00;
  max-width: 1130px;
  margin: 0 auto 30px;
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-bottom: 75%;
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__badge {
    @include abs-pos(10px,0);
    background: #FFBE00 no-repeat 50% 50% / 28px;
    width: 36px;
    height: 36px;
  }

  @media (min-width: 425px) {
    &::after {
      padding-bottom: 60%;
    }
  }

  @media (min-width: $min-tablet-width) {
    &::after {
      padding-bottom: 50%;
    }

    &__badge {
      left: 20px;
      background-size: 40px;
      width: 50px;
      height: 50px;
    }
  }

  @media (min-width: $min-desktop-width) {
    &::after {
      padding-bottom: 36%;
    }

    &--news {
      &::after {
        padding-bottom: 39.5%;
      }
    }
  }

  &--news {
    border-color: #0091e3;
  }
}