.article {

  .title,
  p {
    max-width: 670px;
    margin: 0 auto 16px;
  }

  .image {
    margin-bottom: 20px;
    &--slide {
      margin: 0;
    }
  }

  &__authors {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.05em;
    margin: 0 auto 40px;
    max-width: 670px;
    text-transform: uppercase;
  }

  @media (min-width: 425px) {
    &__images {
      display: flex;
      justify-content: center;
      margin: 0 -10px 20px;

      .image {
        margin: 0 10px;
      }
    }
  }

  @media (min-width: $min-tablet-width) {
    &__images {
      margin-bottom: 40px;
    }

    .title,
    p {
      margin-bottom: 30px;
    }
  }
}
