.categories {
  padding: 10px 0 52px;

  &__items {
    display: flex;
    justify-content: center;
    margin: 0 -8px 14px;
  }

  .item {
    align-items: center;
    border: 8px solid #FFBE00;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 8px 16px;
    max-width: 190px;
    padding: 23px 20px 29px;
    position: relative;
    width: calc(50% - 16px);

    &::before {
      @include abs-pos(0,0,0,0);
      content: '';
      box-shadow: 0 6px 26px 2px #000;
      opacity: 0;
      transition: all .3s ease;
      z-index: -1;
    }

    &__icon {
      background: #FFBE00 no-repeat 50% 50% / 68px;
      border-radius: 50%;
      width: 106px;
      height: 106px;
      margin-bottom: 28px;
    }

    &__title {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.05em;
      position: relative;
      text-transform: uppercase;

      &::before {
        @include abs-pos(-4px, -2px, -4px, -2px);
        background: #FFBE00;
        content: '';
        opacity: 0;
        transform: scale(0.5);
        transform-origin: 50% 100%;
        transition: all .3s ease;
        z-index: -1;
      }
    }

    &:hover {
      text-decoration: none;

      &::before {
        opacity: .2;
      }

      .item__title::before {
        opacity: 1;
        transform: scale(1);
      }
    }

    @media (max-width: 424px) {
      padding: 16px 12px 18px;

      &__icon {
        background-size: 50px;
        width: 72px;
        height: 72px;
        margin-bottom: 18px;
      }

      &__title {
        font-size: 12px;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 1023px) {
    &__items {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 1299px) and (min-width: 1200px) {
    .item {
      &__icon {
        height: 90px;
        width: 90px;
        background-size: 60px;
      }
    }
  }
}
