.contact-form {
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.32;
    margin-bottom: 1.1em;
    text-align: center;

    @media (min-width: $min-tablet-width) {
      font-size: 30px;
    }
  }

  &__columns {
    @media (min-width: $min-tablet-width) {
      display: flex;

      > div {
        flex: 1 0 50%;
        padding: 0 20px;
      }
    }
  }

  &__require-note,
  &__notice {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.25;

    a {
      text-decoration: underline;
    }
  }

  &__require-note {
    margin: 0 0 20px -.85em;
  }

  &__notice {
    opacity: .5;

    @media (max-width: $max-mobile-width) {
      margin-bottom: 20px;
    }
  }

  textarea.input__field {
    min-height: 150px;

    @media (min-width: $min-tablet-width) {
      min-height: 277px;
      resize: none;
    }
  }
}
