.hot-list {
  margin-bottom: 22px;

  &__head {
    align-items: center;
    display: flex;
    border-bottom: 4px solid #0091E3;
    justify-content: space-between;
    padding: 0 0 13px;
  }

  &__title {
    color: #0091E3;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .03em;
    line-height: 27px;
    margin-right: 10px
  }

  &__selector {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 290px;

    .full {
      display: none;
    }

    a {
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.05em;
      opacity: .3;
      text-transform: uppercase;
      transition: all .2s ease;
    }

    .active a {
      opacity: 1;
    }

    li {
      margin-left: 10px;
    }
  }

  &__list {
    padding-top: 26px;
  }

  .item {
    align-items: flex-start;
    display: flex;
    font-size: 22px;
    line-height: 1.18;
    margin-bottom: 25px;
    padding-right: 10px;
    position: relative;

    &__time {
      background: #0091e3;
      color: #fff;
      font-size: 12px;
      line-height: 16px;
      padding: 0 4px;
      min-width: 36px;
      text-align: center;
      margin: 5px 18px 0 0;
    }

    &__title {
      span:not(.badge) {
        margin-right: 8px;
      }
    }

    &::after {
      @include abs-pos(-8px, -5px, 0, -5px);
      background: rgba(0, 145, 227, 0);
      content: '';
      transition: all .2s ease;
    }

    &:hover {
      text-decoration: none;

      &::after {
        background: rgba(0, 145, 227, .1);
      }
    }
  }

  @media (min-width: 425px) {
    &__content {
      padding-left: 54px;
    }

    .item {
      &__time {
        margin: 3px 18px 0 -56px;
      }

      &::after {
        left: -64px;
      }
    }
  }

  @media (min-width: 525px) {
    &__title {
      margin-right: 90px;
    }
  }

  @media (min-width: $min-tablet-width) {
    display: flex;
    align-items: flex-start;

    &__content {
      flex-grow: 1;
      margin-right: 70px;
    }

    &__selector {
      .full {
        display: inline;
      }

      .short {
        display: none;
      }
    }

    &__ad {
      background: #c4c4c4;
      flex-shrink: 0;
      position: relative;
      width: calc(25% - 15px);

      &::after {
        content: '';
        display: block;
        padding-bottom: 126%;
      }
    }

    &--with-ad {
      .hot-list__content {
        padding-top: 6px;
      }
    }
  }

  @media (min-width: 1024px) {
    &__content {
      padding-left: 114px;
      margin-right: 105px;
    }
  }
}
