.menu {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;

  nav a {
    text-transform: uppercase;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
  }

  li {
    position: relative;
  }

  &__social {
    display: flex;

    a {
      margin-left: 10px;
    }

    &--mobile a {
      margin: 0 10px 0 0;
    }
  }

  &__support {
    background: #0091E3;
    border-radius: 18px;
    color: #fff;
    font-size: 14px;
    padding: 0 13px;
    position: relative;
    height: 36px;
    line-height: 36px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &::before {
      background: url("../svg/support.svg") no-repeat 50% 50% / contain;
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 21px;
      height: 19px;
      margin: -4px 4px 0 0;
    }

    &::after {
      background: #fff;
      border-radius: inherit;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transform: scale(0.01);
      transition: all 0.2s ease;
    }

    &:hover {
      color: #fff;
      text-decoration: none;

      &::after {
        opacity: 0.2;
        transform: scale(1);
      }
    }
  }
}

.drop {
  cursor: pointer;
  padding-right: 8px;
  position: relative;
  user-select: none;

  &::before {
    @include abs-pos(null, 50%, -8px);
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    content: '';
    margin-top: -2px;
    transition: all .2s ease;
  }
}

.menu-toggler {
  display: none;
}

@media (max-width: $max-tablet-width) {
  .menu {
    background: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 72px;
    right: 0;
    bottom: -0;
    transition: transform .3s ease-out, visibility 0s ease .3s;
    overflow: auto;
    visibility: hidden;
    padding: 0 20px 0 30px;
    transform: translateX(250px) translateZ(0);
    width: 250px;
    z-index: 100;
    -webkit-overflow-scrolling: touch;

    nav {
      padding-right: 14px;

      a {
        display: block;
      }
    }

    ul {
      padding: 20px 0 30px;
    }

    li {
      line-height: 1.2;
      list-style: none;
      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }

    &__secondary {
      order: -1;
      padding-right: 10px;
    }

    &__social {
      display: none;

      &--mobile {
        display: flex;
        padding-bottom: 20px;
      }
    }

    &__support {
      margin-left: auto;
    }
  }

  .submenu {
    color: currentColor;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, height .2s, visibility 0s .2s;
    padding: 0;

    ul {
      font-weight: 400;
      padding: 12px 0 10px 10px;
    }

    a {
      opacity: .8;
    }
  }

  .expanded + .submenu {
    opacity: 1;
    visibility: visible;
    transition: opacity .5s .1s ease, height .2s, visibility 0s 0s;
  }

  .drop {
    &.expanded {
      &::before {
        transform: rotateX(180deg) translateY(2px);
      }
    }
  }

  .menu-btn {
    background-color: currentColor;
    background-clip: content-box;
    color: currentColor;
    cursor: pointer;
    padding: 17px 6px;
    position: relative;
    transition: background-color 0.1s ease;
    width: 36px;
    height: 36px;
    margin-right: -6px;

    &::before,
    &::after {
      transition: transform 0.1s ease;
      background: currentColor;
      content: '';
      position: absolute;
      top: 17px;
      left: 6px;
      height: 2px;
      width: calc(100% - 12px);
    }

    &::before {
      transform: translateY(-7px);
    }

    &::after {
      transform: translateY(7px);
    }

    &:focus {
      outline: none;
    }
  }

  .menu-overlay {
    background: #000;
    @include abs-pos(0, 72px, 0, 0);
    transition: opacity .2s ease, visibility 0s 0.2s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
  }

  .menu-toggler:checked + .wrapper {
    height: 100vh;
    overflow: hidden;

    .menu {
      transition: transform 0.3s ease;
      visibility: visible;
      transform: translateX(0) translateZ(0);
    }

    .menu-overlay {
      opacity: .4;
      visibility: visible;
      transition: opacity 0.2s ease;
    }

    .menu-btn {
      transition: background-color 0.1s ease;
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  @media (min-width: $min-tablet-width) {
    .menu,
    .menu-overlay {
      top: 100px;
    }
  }
}

@media (min-width: $min-desktop-width) {
  .menu-btn,
  .menu-overlay {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    text-align: center;

    nav a,
    .drop {
      display: inline-block;
      position: relative;
    }

    li {
      display: inline-block;
      line-height: 30px;
      margin: 0 15px;
    }

    &__secondary {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 325px;
    }

    &__social {
      margin-left: auto;

      &--mobile {
        display: none;
      }
    }

    nav {
      flex-grow: 1;
      margin-right: 25px;
      padding-bottom: 4px;

      a {
        &::after {
          @include abs-pos(-1px, null, -1px, 0);
          background: currentColor;
          content: '';
          height: 1px;
          transform: scaleX(0);
          transform-origin: 50% 50%;
          transition: all .2s ease;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }

      > ul {
        display: flex;
        justify-content: space-between;
      }
    }

    .submenu {
      @include abs-pos(0, 30px);
      background: #fff;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      height: auto !important;
      text-align: left;
      transform-origin: 50% 0;
      transform: scaleY(0);
      transition: all .3s ease;

      ul {
        padding: 14px 20px 12px;
        opacity: 0;
        transition: all .3s ease;
        transform: translateZ(0);
        text-align: left;
      }

      li {
        display: block;
        margin: 0 0 1px;
        white-space: nowrap;
      }

      a::after {
        bottom: 0;
      }
    }

    li:hover {
      .submenu {
        opacity: 1;
        transform: scaleY(1);

        ul {
          opacity: 1;
          transition: all .3s .2s ease;
        }
      }

      .drop::before {
        transform: rotateX(180deg) translateY(2px);
      }
    }
  }
}

@media (min-width: 1250px) {
  .menu nav {
    margin-right: 50px;
  }
}

@media (min-width: 1350px) {
  .menu nav {
    margin-right: 80px;
  }
}

@media (min-width: 1400px) {
  .menu {
    nav {
      margin-right: 110px;
    }

    &__social {
      margin-left: 70px;
    }
  }
}

@media (min-width: 1440px) {
  .menu nav {
    margin-right: 122px;
  }
}
