.news {
  .title,
  img,
  .subtitle,
  p {
    max-width: 784px;
    margin: 0 auto 16px;
  }

  img {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }

  .article__images img {
    max-width: 100%;
  }

  &__body {
    padding-bottom: 14px;

    pre {
      font: inherit;
      margin: 0 auto;
      max-width: 784px;
    }
  }

  @media (min-width: $min-tablet-width) {
    .title,
    p {
      margin-bottom: 22px;
    }
  }

  .article-head {
    max-width: 784px;
  }
}
