.news-list {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0 26px;
  margin-bottom: 30px;

  .hot-list + & {
    margin-top: -22px;
  }

  &__head {
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 12px;
  }

  &__list {
    margin-bottom: 10px;
    padding-top: 26px;
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: .02em;
  }

  .item {
    align-items: flex-start;
    display: flex;
    font-size: 22px;
    line-height: 1.18;
    margin-bottom: 26px;
    padding-right: 10px;
    position: relative;

    &::after {
      @include abs-pos(-8px, -5px, 0, -5px);
      background: rgba(0, 145, 227, 0);
      content: '';
      transition: all .2s ease;
      z-index: -1;
    }

    &:hover {
      text-decoration: none;

      &::after {
        background: rgba(0, 145, 227, .1);
      }
    }

    &__date {
      font-size: 12px;
      margin-top: 6px;
      line-height: 15px;
      text-align: right;
      letter-spacing: 0.05em;
      opacity: .5;
      text-transform: uppercase;
    }

    &__title {
      span:not(.badge) {
        margin-right: 8px;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &--type2 {
    border: none;
    padding-top: 15px;
    margin-bottom: 0;

    .item {
      font-size: 18px;
      margin-bottom: 19px;
      padding-right: 5px;
    }

    .news-list__head {
      padding-bottom: 14px;
    }

    .news-list__ad {
      width: 32%;
    }
  }

  &--type3 {
    border: none;
    padding: 12px 0 0;
    margin-bottom: 0;
  }

  @media (min-width: 425px) {

    &__content {
      padding-left: 54px;
    }

    &__button {
      margin-left: -54px;
    }

    .item {
      &__date {
        margin-left: -54px;
      }

      &::after {
        left: -64px;
      }
    }
  }

  @media (max-width: $max-mobile-width) {
    .item {
      &__date {
        flex-shrink: 0;
        margin-right: 12px;
        min-width: 42px;

        span {
          display: block;
        }

        .divider {
          display: none;
        }
      }
    }
  }

  @media (min-width: $min-tablet-width) {
    display: flex;
    align-items: flex-start;

    &__content {
      margin-right: 20px;
      padding-left: 114px;
    }

    &__button {
      margin-left: -114px;
    }

    &__list {
      margin-bottom: 35px;
    }

    &__ad {
      background: #c4c4c4;
      flex-shrink: 0;
      position: relative;
      width: calc(25% - 15px);

      &::after {
        content: '';
        display: block;
        padding-bottom: 126%;
      }
    }

    .item {
      &::after {
        left: -122px;
      }

      &__date {
        display: flex;
        flex-shrink: 0;
        margin: 10px 2px 0 -102px;
        width: 100px;
      }

      .divider {
        background: currentColor;
        display: inline-block;
        margin: 0 6px;
        height: 15px;
        width: 1px;
      }
    }

    &--type2 {
      &__content {
        margin-right: 20px;
      }

      .item {
        &__date {
          margin: 5px 6px 0 -105px;
        }
      }

      .news-list__ad {
        &::after {
          padding-bottom: 112%;
        }
      }
    }

    &--type3 {
      .news-list__list {
        margin-bottom: 33px;
      }
    }
  }

  @media (min-width: $min-desktop-width) {
    &__button {
      margin-left: 0;
    }

    &:not(.news-list--type2) {
      padding-right: 90px;
    }
  }
}
