.not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 0;
  text-align: center;

  &__title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__subtitle {
    color: #0091E3;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  @media (min-width: $min-tablet-width) {

    &__subtitle {
      font-size: 36px;
      margin-bottom: 30px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $min-tablet-width) {
    &__title {
      font-size: 100px;
    }

    &__text {
      margin-bottom: 40px;
    }
  }
}
