.other {
  &__head {
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
  }

  &__items {
    display: flex;
    margin: 0 -10px;
    padding-top: 20px;
  }

  @media (max-width: 599px) {
    &__items {
      flex-direction: column;
    }
  }
}