.partner-block {
  background: #c4c4c4;
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-bottom: 28.4%;
  }

  &__content {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}