blockquote {
  font-size: 20px;
  line-height: 1.182;
  max-width: 670px;
  margin: 0 auto 32px;
  padding-left: 38px;
  position: relative;

  p {
    margin: 0 !important;
    max-width: none !important;
  }

  &::before {
    background: url('../svg/quotemark.svg') no-repeat 50% 50% / contain;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 28px;
    width: 28px;
  }

  .news__body & {
    max-width: 784px;

    &::before {
      background-image: url('../svg/quotemark-blue.svg');
    }
  }

  @media (min-width: $min-tablet-width) {
    font-size: 22px;
    padding-left: 68px;

    &::before {
      height: 44px;
      width: 44px;
    }
  }

  @media (min-width: 1024px) {
    padding-left: 0;

    &::before {
      left: -68px;
    }
  }
}
