.read-also {
  border-bottom: 2px solid #FFBE00;
  border-top: 2px solid #FFBE00;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 32px;
  max-width: 670px;
  padding: 0 16px 7px;

  a {
    font-size: 18px;
    line-height: 21px;
    padding: 8px 0;
    text-align: center;
    transition: all .2s ease;

    &:hover {
      opacity: .6;
      text-decoration: none;
    }
  }

  &__title {
    background: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: -9px;
    padding: 0 10px;
    text-transform: uppercase;
  }

  &--blue {
    border-color: #0091e3;
  }

  .news__body & {
    max-width: 784px;

    @media (min-width: $min-tablet-width) {
      margin-top: 30px;
    }
  }
}
