@media (min-width: $min-desktop-width) {
  .side-ad {
    background: #c4c4c4;
    position: relative;

    &::after {
      content: '';
      display: block;
      padding-bottom: 132%;
    }

    &__content {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    &--high {
      &::after {
        padding-bottom: 162%;
      }
    }
  }
}