.side-list {
  padding-top: 14px;
  padding-left: 10px;

  &__head {
    align-items: flex-end;
    border-bottom: 2px solid #0091E3;
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  &__date {
    font-size: 12px;
    letter-spacing: 0.05em;
    opacity: .5;
    text-transform: uppercase;
  }

  &__items {
    padding: 10px 0;
  }

  .item {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    position: relative;

    &::after {
      @include abs-pos(-10px, 0, 0, 0);
      background: rgba(0, 145, 227, 0);
      content: '';
      transition: all .2s ease;
      z-index: -1;
    }

    &:hover {
      text-decoration: none;

      &::after {
        background: rgba(0, 145, 227, .1)
      }
    }

    &__time {
      flex-shrink: 0;
      font-size: 12px;
      margin-right: 12px;
      min-width: 38px;
      letter-spacing: 0.05em;
      opacity: .5;
      padding-top: 5px;
      position: relative;
      text-transform: uppercase;
    }

    &__title {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--important {
      .item__title {
        font-weight: 600;
      }

      &::after {
        background: rgba(250, 255, 196, 1);
        opacity: 1;
      }
    }
  }
}
