.slider-article {
  max-width: 1130px;
  margin: 0 auto 40px;
  position: relative;

  .slick-arrow {
    @include abs-pos(null, calc(50% - 18px));
    background: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    padding-left: 12px;
    height: 36px;
    width: 36px;
    opacity: .3;
    outline: none;
    transition: all .2s ease;
    z-index: 1;

    &::before {
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      content: '';
      display: block;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
      height: 13px;
      width: 13px;
    }

    &:hover {
      opacity: .6;
    }

    &.slick-disabled {
      opacity: .1;
    }
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
    transform: rotate(180deg);
  }

  &:not(.slick-initialized) {
    > div:nth-child(n+2) {
      display: none;
    }
  }

  @media (min-width: 1300px) {
    .slick-prev {
      left: -56px
    }

    .slick-next {
      right: -56px
    }
  }
}