.slider-triple {
  margin: 0 auto 40px;
  position: relative;

  a:focus {
    outline: none;
  }

  &__inner {
    margin: 0 -10px;

    &:not(.slick-initialized) {
      display: flex;

      > div {
        flex-grow: 1;
        padding: 0 10px;

        &:nth-child(n+4) {
          display: none;
        }
      }

      a {
        display: block;
      }

      @media (max-width: 1023px) {
        > div:nth-child(n+3) {
          display: none;
        }
      }

      @media (max-width: 599px) {
        > div:nth-child(n+2) {
          display: none;
        }
      }
    }
  }

  &--2-max {
    .slider-triple__inner:not(.slick-initialized) {
      @media (min-width: 1024px) {
        > div:nth-child(n+3) {
          display: none;
        }
      }
    }
  }

  &__controls {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .image {
    margin-bottom: 0;
  }

  .slick-arrow {
    background: #fff;
    border: none;
    border-radius: 50%;
    padding-left: 13px;
    height: 36px;
    width: 36px;
    outline: none;
    position: relative;
    transition: all .2s ease;
    z-index: 1;

    &::before {
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      content: '';
      display: block;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
      height: 13px;
      width: 13px;
    }

    &::after {
      @include abs-pos(0, 0, 0, 0);
      border-radius: 50%;
      box-shadow: 0 2px 16px -2px #000;
      content: '';
      opacity: 0;
      transition: all .2s ease;
    }

    &:hover {
      opacity: .8;

      &::after {
        opacity: .2;
      }
    }

    &.slick-disabled {
      opacity: .4;
    }
  }

  .slick-slide {
    padding: 0 10px;
  }

  .slick-prev {
  }

  .slick-next {
    order: 1;
    transform: rotate(180deg);
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    min-width: 200px;

    li {
      margin: 0 6px;
    }

    button {
      background: #c4c4c4;
      border: none;
      border-radius: 50%;
      display: block;
      font-size: 0;
      outline: none;
      padding: 0;
      height: 8px;
      width: 8px;
      transform: scale(.75);
      transition: all .2s ease;
    }

    .slick-active button {
      background: #FFBE00;
      transform: scale(1);
    }
  }

  @media (min-width: 600px) {
    .slick-dots {
      li {
        margin: 0 20px;
      }
    }
  }

  @media (min-width: $min-tablet-width) {
    .slick-dots {
      li {
        margin: 0 30px;
      }
    }
  }
}
