html {
  touch-action: manipulation;
  overflow: hidden;
  overflow-y: scroll;
}

body {
  background: #fff;
  color: #000;
  font: 400 18px / 1.16 'FuturaPT', sans-serif;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

input,
button {
  font: inherit;
  letter-spacing: inherit;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

::selection {
  background: rgba(251, 187, 78, .8);
}

#menu-toggler {
  display: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.center {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
  position: relative;
}

.no-transition {
  &,
  * {
    transition: none !important;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.main-content {
  flex-grow: 1;
  max-width: 100%;
}

@media (min-width: $min-desktop-width) {
  html.no-scroll {
    height: 100%;

    body {
      height: 100%;
      overflow: hidden;
    }
  }

  .main-content {
    width: calc(100% - 300px);
  }
}

@media (min-width: 1400px) {
  .main-content {
    width: calc(100% - 345px);
  }

  .center {
    max-width: 1400px;
  }
}
