
@media (max-width: $max-mobile-width) {
  .hide-mobile {
    display: none !important;
  }
  .show-tablet {
    display: none !important;
  }
}

@media (min-width: $min-tablet-width) {
  .show-mobile {
    display: none !important;
  }
}

@media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
  .hide-tablet {
    display: none !important;
  }
}

@media (max-width: $max-tablet-width) {
  .show-desktop {
    display: none !important;
  }
}

@media (min-width: $min-desktop-width) {
  .show-tablet {
    display: none !important;
  }
  .hide-desktop {
    display: none !important;
  }
}
