{% set page = 'articles' %}
{% set pageTitle = 'Articles page' %}
{% set bodyClass = 'page-articles' %}
{% extends "layouts/base.njk" %}

{% block content %}
  {% include "partials/articles-01.njk" %}
  {% include "partials/advertisment-block.njk" %}
  {% include "partials/articles-02.njk" %}
  {% include "partials/pagination.njk" %}
{% endblock %}
