{% set page = 'article' %}
{% set pageTitle = 'Article page' %}
{% set bodyClass = 'page-article' %}
{% extends "layouts/base-article.njk" %}

{% block content %}
  {% include "partials/article-image.njk" %}
  {% include "partials/article.njk" %}
  {% include "partials/advertisment-block.njk" %}
  {% include "partials/other.njk" %}
{% endblock %}
