{% set page = 'news-page' %}
{% set pageTitle = 'News page' %}
{% set bodyClass = 'page-news' %}
{% extends "layouts/base.njk" %}

{% block content %}
  {% include "partials/custom-content.njk" %}
{% endblock %}
