{% set page = 'home' %}
{% set pageTitle = 'Home page' %}
{% set bodyClass = 'page-home' %}
{% extends "layouts/base.njk" %}

{% block content %}
  {% include "partials/articles-main.njk" %}
  {% include "partials/categories.njk" %}
  {% include "partials/hot-list.njk" %}
  {% include "partials/advertisment-block.njk" %}
  {% include "partials/news-list.njk" %}
  {% include "partials/partner-block.njk" %}
{% endblock %}
