{% set page = 'news-page' %}
{% set pageTitle = 'News page' %}
{% set bodyClass = 'page-news' %}
{% extends "layouts/base.njk" %}

{% block content %}
  {% include "partials/news-image.njk" %}
  {% include "partials/news.njk" %}
  {% include "partials/advertisment-block.njk" %}
  {% include "partials/news-list02.njk" %}
  {% include "partials/news-ad.njk" %}
{% endblock %}
