{% set page = 'news-all' %}
{% set pageTitle = 'News all' %}
{% set bodyClass = 'page-news-all' %}
{% extends "layouts/base.njk" %}

{% block content %}

  {% include "partials/hot-list02.njk" %}
  {% include "partials/news-list03.njk" %}
  {% include "partials/pagination02.njk" %}

{% endblock %}
