.footer {
  &__nav {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.6;
    padding: 20px 0 10px;
    text-align: center;
    text-transform: uppercase;

    a {
      display: inline-block;
      margin: 0 10px 5px;
      opacity: .5;
      padding: 6px 0;
      position: relative;
      text-decoration: none;
      transition: opacity 0.2s;

      &::after {
        @include abs-pos(-1px, null, -1px, 6px);
        background: currentColor;
        content: '';
        height: 1px;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        transition: all .2s ease;
      }

      &:hover {
        opacity: .8;

        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &__inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 28px 0;
  }

  &__main,
  &__copyright {
    font-size: 10px;
    letter-spacing: 0.05em;
    line-height: 1.3;
    text-transform: uppercase;
  }

  &__main {
    opacity: .3;
    text-align: center;
  }

  &__social {
    display: flex;

    a {
      margin: 0 5px;
    }
  }

  @media (max-width: $max-mobile-width) {
    &__inner {
      flex-direction: column;
    }

    &__social,
    &__main {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $min-tablet-width) {
    &__inner {
      justify-content: space-between;
    }

    &__social {
      justify-content: flex-end;
      order: 2;

      a {
        margin: 0 0 0 10px;
      }
    }
  }

  @media (max-width: 1023px) {
    &__main {
      margin-bottom: 20px;
    }
  }

  @media (min-width: 1024px) {
    &__inner {
      align-items: center;
      flex-wrap: nowrap;
    }

    &__main {
      max-width: 900px;
    }

    &__copyright,
    &__social {
      flex-shrink: 0;
      width: 200px;
    }

    &__copyright {
      order: -1;
    }
  }
}

