.header {
  position: relative;
  z-index: 100;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
  }

  .logo {
    background: url('../svg/logo.svg') no-repeat 50% 50%/contain;
    display: block;
    height: 57px;
    width: 50px;
  }

  .button {
    display: none;
  }

  @media (min-width: $min-tablet-width) {
    &__inner {
      height: 100px;
    }
  }

  @media (max-width: 1199px) {
    &,
    .center {
      position: static;
    }
  }

  @media (min-width: 1200px) {
    &__inner {
      height: 118px;
    }

    .logo {
      margin-right: 25px;
    }
  }

  @media (min-width: 1350px) {
    .logo {
      margin-right: 52px;
    }
  }

  @media (min-width: 1400px) {

  }
}
