.sidebar {
  display: block;

  @media (max-width: $max-tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: $min-desktop-width) {
    flex-shrink: 0;
    padding: 0 0 0 20px;
    width: 345px;
  }
}
