<div class="not-found">
  <div class="not-found__title">404!</div>
  <div class="not-found__subtitle">Запрашиваемая вами страница не найдена.</div>
  <div class="not-found__text">Страница, которую вы ищете была удалена, переименована, либо сейчас недоступна.<br>Попробуйте воспользоваться поиском:</div>
  <div class="search">
    <input type="text">
    <div class="search__icon"></div>
    <button type="submit" class="search__button">Искать</button>
  </div>
</div>
