<div class="advertisment-block">
  <div class="item"><div class="item__content"></div></div>
  <div class="item"><div class="item__content"></div></div>
  <div class="item"><div class="item__content"></div></div>
  <div class="item"><div class="item__content"></div></div>
</div>