<div class="article">
  <div class="article-head">
    <div class="article-head__date">21 февраля</div>
    <a href="#" class="article-head__category">уроки доброты</a>
  </div>
  <h1 class="title">«Получается я самый настоящий попрошайка»: как запорожанка помогает одиноким старикам</h1>
  <p>
    На часах 9.30, воскресенье. Мы вбегаем в один из сетевых супермаркетов в центре города, где наша героиня уже активно закупает продукты вместе с помощницей.
  </p>

  <p>
    Маргариту с Анной встречаем в отделе с молочной продукцией и колбасами. Долго над тем, какие продукты положить в корзину, не раздумывают, движения четкие: берут сразу несколько палок колбасы и плавленых сырков. Но после коротких раздумий докладывают к покупкам еще и сладкие сырки с ряженкой.
  </p>

  <div class="article__images">
    <a href="images/article-01.jpg" class="image image-link" title="Подпись 01">
      <img src="images/article-01.jpg" alt="Информация об изображении">
    </a>

    <a href="images/article-02.jpg" class="image image-link" title="Подпись 02">
      <img src="images/article-02.jpg" alt="Информация об изображении">
    </a>
  </div>

  <p>
    Покупки расфасовывают по отдельным пакетам и формируют продуктовые наборы, которые вскоре развозят по привычным адресам, где были уже десятки раз.
  </p>

  <p>
    Благотворительностью Маргарита Герговская занялась полтора года назад. Признается, что всегда хотела, но долго не могла решить, кому же больше кстати придется ее помощь.
  </p>

  <p>
    Идея пришла внезапно, когда девушка листала ленту в Инстаграме:
  </p>

  <blockquote>
    — Любому нормальному человеку всегда хочется что-нибудь хорошее делать. Так и мне. Но не было чёткого понимания как именно это сделать. Например, детям итак многие помогают и без меня. А потом в Инстаграме я наткнулась на пост девочки из Мариуполя, которая организовала сбор продуктов для ветеранов в честь 9 мая и развезла их вместе с друзьями.
  </blockquote>

  <div class="article__images">
    <a href="images/article-slide-01.jpg" class="image image--landscape image-link" title="Подпись 01">
      <img src="images/article-slide-01.jpg" alt="Информация об изображении">
    </a>
  </div>

  <p>
    Важную роль сыграло и личное горе: бабушка, которую Марго очень любила, умерла. С тех пор вот уже полтора года волонтер раз в месяц развозит продукты старикам, которые оказались в сложных жизненных обстоятельствах.
  </p>

  <p>
    Деньги на продуктовые наборы она собирает в Фейсбуке, как и занимается поиском помощников. Сейчас на попечении Марго 7 стариков. Со списком нуждающихся помогли в «Красном кресте», куда Марго обратилась, решив заняться волонтерством.
  </p>

  <blockquote>
    – Когда я приехала в «Красный крест» за адресами, председатель городского отделения на меня так посмотрела с недоверием, улыбнулась и с вызовом сказала: «Посмотрим на сколько тебя хватит», после чего дала мне список из 5 человек. Я еще так возмутилась: чего так мало? Давайте больше, хотя бы 10-15, но мне тогда отказали, мол, не понимаю с чем связываюсь.
  </blockquote>

  <p>
    После недолгих уговоров девушке удалось «выбить» еще два адреса. В организации тогда действительно посчитали, что их новоиспеченная коллега не сможет обеспечить регулярную помощь, в которой нуждаются их подопечные, но недооценили Марго. Сейчас все подопечные волонтера живут на Бабурке и на Бородинском, но девушка планирует расширять географию.
  </p>

  <p>
    В магазине девушки провели около часа, вывезя две полные загруженные продуктами тележки. Признаются, что это быстро – обе приноровились работать слаженно как единый механизм. Следующая наша остановка – аптека. В ней мы закупаем немного лекарств для двоих подопечных. Обычно старики составляют список со своими потребностями или пожеланиями. Быстро заскакиваем выпить по кофе и за работу.
  </p>

  <div class="slider-triple">
    <div class="slider-triple__inner">
      <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 06"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
      <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 07"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
      <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
      <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
      <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
      <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
      <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
      <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
      <div><a href="images/article-slide-01.jpg" class="image ßimage-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
    </div>
    <div class="slider-triple__controls"></div>
  </div>

  <p>
    По дороге к первому дому Рита вспоминает свой первый выезд:
  </p>

  <blockquote>
    – Изначально мне дали адреса в одном районе и спасибо им за это, потому что мы тогда потратили очень много времени. Пока нашли все адреса, хотя они и рядом находились, пока всем уделили внимание. Мы же не просто зашли, оставили пакеты и уехали. Тогда я домой вернулась около девяти вечера, хотя выехала утром.
  </blockquote>

  <p>
    Девушка признается: некоторые из стариков попросту не хотели выпускать ее вместе с тогдашней напарницей.
  </p>

  <p>
    Запорожцы инициативу Марго активно поддерживают. Девушка хвастается: за все время ее волонтерства не было и месяца, когда бы приходилось целенаправленно просить у кого-то деньги, хотя такая возможность есть.
  </p>

  <div class="read-also">
    <div class="read-also__title">Читайте также</div>
    <a href="#">В ловушке мусора: как жить с соседом, превратившим подъезд в свалку</a>
  </div>

  <p>
    После недолгих уговоров девушке удалось «выбить» еще два адреса. В организации тогда действительно посчитали, что их новоиспеченная коллега не сможет обеспечить регулярную помощь, в которой нуждаются их подопечные, но недооценили Марго. Сейчас все подопечные волонтера живут на Бабурке и на Бородинском, но девушка планирует расширять географию.
  </p>

  <p>
    В магазине девушки провели около часа, вывезя две полные загруженные продуктами тележки. Признаются, что это быстро – обе приноровились работать слаженно как единый механизм. Следующая наша остановка – аптека. В ней мы закупаем немного лекарств для двоих подопечных. Обычно старики составляют список со своими потребностями или пожеланиями. Быстро заскакиваем выпить по кофе и за работу.
  </p>

  <blockquote>
    <p>
      – Изначально мне дали адреса в одном районе и спасибо им за это, потому что мы тогда потратили очень много времени. Пока нашли все адреса, хотя они и рядом находились, пока всем уделили внимание. Мы же не просто зашли, оставили пакеты и уехали. Тогда я домой вернулась около девяти вечера, хотя выехала утром.
    </p>
  </blockquote>

  <p>
    После недолгих уговоров девушке удалось «выбить» еще два адреса. В организации тогда действительно посчитали, что их новоиспеченная коллега не сможет обеспечить регулярную помощь, в которой нуждаются их подопечные, но недооценили Марго. Сейчас все подопечные волонтера живут на Бабурке и на Бородинском, но девушка планирует расширять географию.
  </p>

  <div class="article__images">
    <a href="images/article-02.jpg" class="image image-link" title="Подпись 09">
      <img src="images/article-02.jpg" alt="Информация об изображении">
    </a>

    <a href="images/article-01.jpg" class="image image-link"  title="Подпись 10">
      <img src="images/article-01.jpg" alt="Информация об изображении">
    </a>
  </div>

  <p>
    Девушка признается: некоторые из стариков попросту не хотели выпускать ее вместе с тогдашней напарницей.
  </p>

  <p>
    Запорожцы инициативу Марго активно поддерживают. Девушка хвастается: за все время ее волонтерства не было и месяца, когда бы приходилось целенаправленно просить у кого-то деньги, хотя такая возможность есть.
  </p>

  <div class="read-also">
    <div class="read-also__title">Читайте также</div>
    <a href="#">В ловушке мусора: как жить с соседом, превратившим подъезд в свалку</a>
  </div>

  <p>
    В магазине девушки провели около часа, вывезя две полные загруженные продуктами тележки. Признаются, что это быстро – обе приноровились работать слаженно как единый механизм. Следующая наша остановка – аптека. В ней мы закупаем немного лекарств для двоих подопечных. Обычно старики составляют список со своими потребностями или пожеланиями. Быстро заскакиваем выпить по кофе и за работу.
  </p>

  <div class="article__authors">Анастасия Потапенко, Слава Чиженок</div>

</div>
