<div class="articles">
  <div class="articles__items">

    <div class="articles-item articles-item--as-container">
      <div class="category-head">
        <div class="category-head__icon">
          <div class="category-head__img" style="background-image: url('svg/icon-02.svg');"></div>
        </div>
        <div class="category-head__title">Уроки<br> доброты</div>
      </div>
    </div>

    <div class="articles-item">
      <img src="images/image03.jpg" alt="">
      <div class="articles-item__inner">
        <div class="articles-item__title"><span>Сгорела BMW в Мелитополе</span></div>
        <a href="article-longread.html" class="articles-item__link" title="Сгорела BMW в Мелитополе"></a>
        <a href="#" class="articles-item__category">путешествия</a>
      </div>
    </div>

    <div class="articles-item">
      <img src="images/image04.jpg" alt="">
      <div class="articles-item__inner">
        <div class="articles-item__title"><span>Мазурик больше не возглавляет местную прокуратуру</span></div>
        <a href="article-longread.html" class="articles-item__link" title="Мазурик больше не возглавляет местную прокуратуру"></a>
        <a href="#" class="articles-item__category">город</a>
      </div>
    </div>

    <div class="articles-item articles-item--half">
      <img src="images/image05.jpg" alt="">
      <div class="articles-item__inner">
        <div class="articles-item__title"><span>Сгорела BMW в Мелитополе</span></div>
        <a href="article-longread.html" class="articles-item__link" title="Сгорела BMW в Мелитополе"></a>
        <a href="#" class="articles-item__category">путешествия</a>
      </div>
    </div>

    <div class="articles-item articles-item--half">
      <img src="images/image06.jpg" alt="">
      <div class="articles-item__inner">
        <div class="articles-item__title"><span>Мазурик больше не возглавляет местную прокуратуру</span></div>
        <a href="article-longread.html" class="articles-item__link" title="Мазурик больше не возглавляет местную прокуратуру"></a>
        <a href="#" class="articles-item__category">город</a>
      </div>
    </div>

    <div class="articles-item articles-item--wide">
      <img src="images/image01.jpg" alt="">
      <div class="articles-item__inner">
        <div class="articles-item__text">Сгоревшая в Мелитополе BMW принадлежала местному налоговику — СМИ</div>
        <div class="articles-item__title"><span>Мазурик подтвердил, что больше не возглавляет местную прокуратуру</span></div>
        <a href="article-longread.html" class="articles-item__link" title="Мазурик больше не возглавляет местную прокуратуру"></a>
        <a href="#" class="articles-item__category">уроки доброты</a>
      </div>
    </div>

  </div>
</div>
