<div class="categories">
  <div class="categories__items">
    <a href="#" class="item">
      <div class="item__icon" style="background-image: url('svg/icon-03.svg');"></div>
      <div class="item__title">Кухня</div>
    </a>

    <a href="#" class="item">
      <div class="item__icon" style="background-image: url('svg/icon-02.svg');"></div>
      <div class="item__title">уроки доброты</div>
    </a>

    <a href="#" class="item">
      <div class="item__icon" style="background-image: url('svg/icon-04.svg');"></div>
      <div class="item__title">путешествия</div>
    </a>

    <a href="#" class="item">
      <div class="item__icon" style="background-image: url('svg/icon-05.svg');"></div>
      <div class="item__title">интервью</div>
    </a>

    <a href="#" class="item">
      <div class="item__icon" style="background-image: url('svg/icon-01.svg');"></div>
      <div class="item__title">город</div>
    </a>
  </div>

  <div class="categories__button"><a href="articles-all.html" class="button">Все публикации</a></div>
</div>
