<div class="news">
  <div class="title title--bold">Реклама на сайте</div>

  <p>
    С нами можно договориться о размещении рекламы. На данный момент доступно рекламное место (блок 300x300px) в правой части сайта (сайдбар) и баннер-растяжка после текста новости (700x130px). В сайдбаре баннер сквозной, а это значит, что он показывается на всех страницах сайта.
  </p>

  <div class="subtitle">Статистика за месяц</div>

  <img src="images/statistics-01.jpg" alt="">

  <p>
    Большая часть наших читателей из Запорожья и области. На втором месте – столица. За Киевом – Донецк, Днепропетровск, Харьков, Одесса, Львов. Ну а дальше по мелочи.
  </p>

  <img src="images/statistics-02.jpg" alt="">

  <div class="subtitle">Условия размещения и цены</div>

  <p>
    Размещение баннера на нашем сайте возможно по двум тарифным планам:
  </p>

  <p>
    — Оплата за показы – 30 грн. за 1 тыс. показов. Минимальный заказ 10 тыс. показов<br>
    — Фиксированный месячный платеж – 500 грн.
  </p>

  <p>
    Если Ваш баннер содержит в себе мигающий зеленый текст на красном фоне или еще какую-нибудь очень раздражающую штуку – мы оставляем за собой право вам отказать в размещении.
  </p>

  <p>
    Если Вы все еще заинтересованы работать с нами, пройдемте на страницу контактов.
  </p>
</div>