<footer class="footer">
  <div class="center">
    <nav class="footer__nav">
      <a href="#">Новости</a>
      <a href="#">кухня</a>
      <a href="">уроки доброты</a>
      <a href="#">путешествия</a>
      <a href="#">интервью</a>
      <a href="#">город</a>
    </nav>
    <div class="footer__inner">
      <p class="footer__main">
        Использование любой информации, размещённой на сайте, разрешается при условии прямой открытой для поисковых систем гиперссылки на «Заноза». Материалы, размещенные в рубриках «Полезное», «Выборы 2019», публикуются на правах рекламы.
      </p>

      <div class="footer__social">
        <a href="#" class="social-button"></a>
        <a href="#" class="social-button"></a>
        <a href="#" class="social-button"></a>
      </div>

      <p class="footer__copyright">
        Copyright © 2019 — Заноза
      </p>
    </div>
  </div>
</footer>
