<header class="header">
  <label for="menu-toggler" class="menu-overlay" role="button"></label>
  <div class="center center--wide">
    <div class="header__inner">
      <a href="index.html" class="logo"></a>
      <a class="menu__support hide-desktop" href="#">
        поддержать
      </a>
      <label for="menu-toggler" class="menu-btn" role="button"></label>
      <div class="menu">
        <nav>
          <ul>
            <li>
              <div class="drop">НОВОСТИ</div>
              <div class="submenu">
                <ul>
                  <li><a href="#">ХОРОШИЕ НОВОСТИ</a></li>
                  <li><a href="#">АТО</a></li>
                  <li><a href="#">СОБЫТИЯ</a></li>
                  <li><a href="#">ПОЛИТИКА</a></li>
                  <li><a href="#">КРИМИНАЛ</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">кухня</a></li>
            <li><a href="">уроки доброты</a></li>
            <li><a href="#">путешествия</a></li>
            <li><a href="#">интервью</a></li>
            <li><a href="#">город</a></li>
          </ul>
        </nav>

        <a class="menu__support show-desktop" href="#">
          поддержать
        </a>

        <div class="menu__secondary">
          <div class="search">
            <input type="text">
            <div class="search__icon"></div>
            <button type="submit" class="search__button">Искать</button>
          </div>

          <div class="menu__social">
            <a href="#" class="social-button"></a>
          </div>
        </div>

        <div class="menu__social menu__social--mobile">
          <a href="#" class="social-button"></a>
          <a href="#" class="social-button"></a>
          <a href="#" class="social-button"></a>
        </div>
      </div>
    </div>
  </div>
</header>
