<div class="hot-list hot-list--with-ad">
  <div class="hot-list__content">
    <div class="hot-list__head">
      <div class="hot-list__title">Горячие новости</div>
      <ul class="hot-list__selector">
        <li class="active"><a href="#"><span class="full">22 февраля</span><span class="short">22/02</span></a></li>
        <li><a href="#"><span class="full">21 февраля</span><span class="short">21/02</span></a></li>
        <li><a href="#"><span class="full">20 февраля</span><span class="short">20/02</span></a></li>
      </ul>
    </div>

    <div class="hot-list__list">
      <a href="#" class="item">
        <div class="item__time">12:34</div>
        <div class="item__title">
          <span>Мазурик подтвердил, что больше не возглавляет местную прокуратуру, но в органах остался</span>
          <span class="badge">хорошие новости</span>
        </div>
      </a>

      <a href="#" class="item">
        <div class="item__time">11:30</div>
        <div class="item__title">
          <span>«Я разбираюсь в 16-летних певицах»: студентка из Бердянска попала к Потапу на шоу «Голос страны»</span>
          <span class="badge">политика</span>
        </div>
      </a>

      <a href="#" class="item">
        <div class="item__time">9:21</div>
        <div class="item__title">
          <span>Сгоревшая в Мелитополе BMW принадлежала местному налоговику — СМИ</span>
          <span class="badge">криминал</span>
        </div>
      </a>
    </div>
  </div>
  <div class="hot-list__ad">
  </div>
</div>
