<div class="news">
  <div class="article-head article-head--news">
    <div class="article-head__date">22 февраля</div>
    <a href="#" class="article-head__category">хорошие новости</a>
  </div>

  <div class="news__body">
    <h1 class="title">На центральном пляже Кирилловки<br>обустраивают аллею</h1>

    <p>
      Чиновники уверяют, что несмотря на то, что проект реализуется частным предпринимателем, аллея не строится в коммерческих целях.
    </p>

    <blockquote>
      — Любому нормальному человеку всегда хочется что-нибудь хорошее делать. Так и мне. Но не было чёткого понимания как именно это сделать. Например, детям итак многие помогают и без меня. А потом в Инстаграме я наткнулась на пост девочки из Мариуполя, которая организовала сбор продуктов для ветеранов в честь 9 мая и развезла их вместе с друзьями.
    </blockquote>

    <p>
      К началу курортного сезона на центральном пляже Кирилловки у моря строят аллея. На данный момент там прокладываются бетонными плиты и проводятся подготовительные работы.
    </p>

    <div class="read-also read-also--blue">
      <div class="read-also__title">Читайте также</div>
      <a href="#">В ловушке мусора: как жить с соседом, превратившим подъезд в свалку</a>
    </div>

    <p>
      Проект является временным объектом по реализации застройки набережной и не является коммерческим проектом – уверяет руководство громады.
    </p>

    <div class="slider-triple slider-triple--2-max">
      <div class="slider-triple__inner">
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 06"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 07"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image ßimage-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
      </div>
      <div class="slider-triple__controls"></div>
    </div>

    <p>
      Напомним, на Набережной Запорожья построят масштабный спортивно-развлекательный центр.
    </p>

    <div class="slider-triple">
      <div class="slider-triple__inner">
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 06"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 07"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image image-link"  title="Подпись 08"><img src="images/article-01.jpg" alt="Информация об изображении"></a></div>
        <div><a href="images/article-slide-01.jpg" class="image ßimage-link"  title="Подпись 08"><img src="images/article-02.jpg" alt="Информация об изображении"></a></div>
      </div>
      <div class="slider-triple__controls"></div>
    </div>

    <p>
      Напомним, на Набережной Запорожья построят масштабный спортивно-развлекательный центр.
    </p>

    <div class="article__images">
      <a href="images/article-slide-01.jpg" class="image image--landscape image-link" title="Подпись 01">
        <img src="images/article-slide-01.jpg" alt="Информация об изображении">
      </a>
    </div>

    <p>
      Напомним, на Набережной Запорожья построят масштабный спортивно-развлекательный центр.
    </p>
  </div>
</div>
