<div class="news-list news-list--type2">
  <div class="news-list__content">
    <div class="news-list__head">
      <div class="news-list__title">Другие новости</div>
    </div>

    <div class="news-list__list">
      <a href="#" class="item">
        <div class="item__date">
          <span>22 фев</span>
          <span class="divider"></span>
          <span>12:34</span>
        </div>

        <div class="item__title">
          <span>Мазурик подтвердил, что больше не возглавляет местную прокуратуру, но в органах остался</span>
          <span class="badge">хорошие новости</span>
        </div>
      </a>

      <a href="#" class="item">
        <div class="item__date"><span>22 фев</span><span class="divider"></span><span>12:34</span></div>
        <div class="item__title"><span>«Я разбираюсь в 16-летних певицах»: студентка из Бердянска попала к Потапу на шоу «Голос страны»</span><span class="badge">политика</span></div>
      </a>

      <a href="#" class="item">
        <div class="item__date"><span>22 фев</span><span class="divider"></span><span>12:34</span></div>
        <div class="item__title"><span>Сгоревшая в Мелитополе BMW принадлежала местному налоговику — СМИ</span> <span class="badge">хорошие новости</span></div>
      </a>

      <a href="#" class="item">
        <div class="item__date"><span>22 фев</span><span class="divider"></span><span>12:34</span></div>
        <div class="item__title"><span>Мазурик подтвердил, что больше не возглавляет местную прокуратуру, но в органах остался</span><span class="badge">криминал</span></div>
      </a>

      <a href="#" class="item">
        <div class="item__date"><span>22 фев</span><span class="divider"></span><span>12:34</span></div>
        <div class="item__title"><span>«Я разбираюсь в 16-летних певицах»: студентка из Бердянска попала к Потапу на шоу «Голос страны»</span><span class="badge">хорошие новости</span></div>
      </a>
    </div>
  </div>

  <div class="news-list__ad">
  </div>
</div>