<div class="advertisment-block advertisment-block--news">
  <div class="item">
    <div class="item__inner">

    </div>
  </div>

  <div class="item">
    <div class="item__inner">

    </div>
  </div>
</div>