<div class="other">
  <div class="other__head">
    <div class="other__title">Другие статьи</div>
  </div>

  <div class="other__items">
    <div class="articles-item articles-item--half articles-item--other">
      <img src="images/image05.jpg" alt="">
      <div class="articles-item__inner">
        <a href="#" class="articles-item__category">кухня</a>
        <a href="#" class="articles-item__title"><span>Мазурик больше не возглавляет местную прокуратуру</span></a>
      </div>
    </div>

    <div class="articles-item articles-item--half articles-item--other">
      <img src="images/image06.jpg" alt="">
      <div class="articles-item__inner">
        <a href="#" class="articles-item__category">кухня</a>
        <a href="#" class="articles-item__title"><span>Мазурик больше не возглавляет местную прокуратуру</span></a>
      </div>
    </div>
  </div>
</div>