<div class="pagination">
  <div class="pagination__desktop">
    <span class="active">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">7</a>
    <a href="#">8</a>
    <a href="#">9</a>
    <span class="dots">...</span>
    <a href="#">88</a>
  </div>

  <div class="pagination__mobile">
    <a href="#" class="arrow arrow--prev"></a>
    <div class="pagination__pages">
      <span class="active">1</span>
      <span class="slash">/</span>
      <a href="#">88</a>
    </div>
    <a href="#" class="arrow arrow--next"></a>
  </div>
</div>