<div class="sidebar">
  <div class="sidebar__inner">
    {% include "partials/side-weather.njk" %}
    {% include "partials/side-today.njk" %}
    {% include "partials/side-yesterday.njk" %}
    {% include "partials/side-ad-01.njk" %}
    {% include "partials/side-events.njk" %}
    {% include "partials/side-ad-02.njk" %}
  </div>
</div>