<div class="side-list show-desktop">
  <div class="side-list__head">
    <div class="side-list__title">новости сегодня</div>
    <div class="side-list__date">25 февраля</div>
  </div>

  <div class="side-list__items">
    <a href="#" class="item">
      <div class="item__time">14:24</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item">
      <div class="item__time">12:10</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item">
      <div class="item__time">11:01</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item">
      <div class="item__time">09:24</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>
  </div>
</div>
