<div class="side-list">
  <div class="side-list__head">
    <div class="side-list__title">АФИША</div>
    <div class="side-list__date">Февраль</div>
  </div>

  <div class="side-list__items">
    <a href="#" class="item">
      <div class="item__time">22/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item">
      <div class="item__time">19/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item item--important">
      <div class="item__time">11/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item">
      <div class="item__time">22/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item">
      <div class="item__time">19/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item item--important">
      <div class="item__time">11/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item">
      <div class="item__time">22/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item">
      <div class="item__time">19/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item">
      <div class="item__time">11/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item">
      <div class="item__time">22/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item">
      <div class="item__time">19/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>

    <a href="#" class="item item--important">
      <div class="item__time">11/02</div>
      <div class="item__title">Сгоревшая в Мелитополе BMW принадлежала налоговику</div>
    </a>
  </div>
</div>